{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1><br>Book your Vaccination Appointment Now!</h1>
    <hr>
    <img class="img-fluid" src="/static/vaccine3.jfif" align="right" style="width:250px;height:550px;"
        alt="COVID-19 Awareness">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-6">
                    {{ form.dose.label(class="form-control-label") }}
                    {{ form.dose(class="form-check") }}

                </div>
                <div class="col-md-6">
                    {{ form.district.label(class="form-control-label") }}
                    {{ form.district(class="form-select") }}
                </div>
                <div class="col-md-6">
                    {{ form.age.label(class="form-control-label") }}
                    {{ form.age(class="form-check") }}
                </div>
                <div class="col-md-6">
                    {{ form.location.label(class="form-control-label") }}
                    {{ form.location(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.datetime.label(class="form-control-label") }}
                    {{ form.datetime(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.firstname.label(class="form-control-label") }}
                    {{ form.firstname(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.lastname.label(class="form-control-label") }}
                    {{ form.lastname(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {{ form.phone.label(class="form-control-label") }}
                    {{ form.phone(class="form-control") }}
                </div>
                <div class="col-md-6">
                    {{ form.aadhar.label(class="form-control-label") }}
                    {{ form.aadhar(class="form-control") }}
                </div>
            </div>
            <hr>
            <div class="form-group" align="center">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>
            <hr>
        </fieldset>
    </form>
</div>

{% endblock %}