{% extends "base.html" %}

{% block body %}
<div class="page-header">
    <div class="container">
        <article class="desc" id="main-content">
            <h1><br>Ensuring Vaccines Work</h1>
            <hr>
            <img class="img-fluid" src="/static/vaccine10.png" align="right" style="width: 220px; height: 240px;"
                alt="COVID-19 Awareness">
            <p>
                Vaccine Effectiveness
            <ul>
                <li>All COVID-19 vaccines currently available in the United States are effective
                    at preventing COVID-19.</li>
                <li>COVID-19 vaccination is an important tool to help stop the COVID-19 pandemic.</li>
                <li>COVID-19 vaccines help protect people who get vaccinated from getting
                    sick or severely ill with COVID-19 and may also help protect people
                    around them.</li>
                <li>We recommend you get a COVID-19 vaccine as soon one is available to you.</li>
                <li>Experts continue to monitor and evaluate how COVID-19 vaccination
                    may affect the severity of illness from COVID-19, as well as its
                    ability to keep people from spreading the virus that causes COVID-19.</li>
            </ul>
            </p>
            <hr>
        </article>
    </div>
</div>
{% endblock %}