{% extends "base.html" %}

{% block body %}
<div class="page-header">
     <div class="container">
          <article class="desc" id="main-content">
               <h1><br>When Getting Your Vaccine</h1>
               <hr>
               <img class="img-fluid" src="/static/vaccine6.png" align="right" alt="COVID-19 Awareness">
               <p>At your vaccination appointment
               <ul>
                    <li>Before you arrive, contact the site where you will be vaccinated or review your appointment
                         confirmation email for details about what identification and proof of eligibility you may
                         need to bring to your vaccination appointment.</li>
                    <li>When you get a vaccine, you and your healthcare provider will both need to wear masks that
                         cover your nose and mouth. Stay 6 feet away from others while inside and in lines.</li>
                    <li>You should receive a paper or electronic version of a fact sheet that tells you more about
                         the specific COVID-19 vaccine you receive. Each authorized COVID-19 vaccine has its own fact
                         sheet that contains information to help you understand the risks and benefits of receiving
                         that specific vaccine.</li>
                    <li>After getting a COVID-19 vaccine, you should be monitored on site for at least 15 minutes. </li>
                    <li>Ask your vaccination provider about getting started with v-safe, a free, smartphone-based
                         tool that uses text messaging and web surveys to provide personalized health check-ins
                         after you receive a COVID-19 vaccination.</li>
                    <li>You should get a vaccination card that tells you what COVID-19 vaccine you received, the date
                         you received it, and where you received it. Keep your vaccination card in case you need it
                         for future use. Consider taking a picture of your vaccination card as a backup copy.</li>
                    <li>If you do not receive a COVID-19 vaccination card at your appointment, contact the
                         vaccination provider site where you got vaccinated or your state health department
                         to find out how you can get a card.</li>
               </ul>
               </p>
               <hr>
               <h1><br>Don’t get a COVID-19 vaccine at the same time as other vaccines</h1>
               <hr>
               <img class="img-fluid" src="/static/vaccine5.jpg" align="right" alt="COVID-19 Awareness">
               <p>Wait at least 14 days after your COVID-19 vaccine before getting any other vaccine, including a flu
                    or shingles vaccine. Or if you have recently received any other vaccine first, wait at least
                    14 days before getting your COVID-19 vaccine.</p>
               <p>However, if you do get a COVID-19 vaccine within 14 days of another vaccine, you do not need
                    to be revaccinated with either vaccine. You should still complete both vaccine series on schedule.
               </p>
               <hr>
               <h1><br>If you need a second shot </h1>
               <hr>
               <p>If you receive an mRNA COVID-19 vaccine (Pfizer-BioNTech COVID-19 vaccine or Moderna COVID-19
                    vaccine), you will need 2 shots to be fully protected. You should get your second shot even
                    if you have side effects after the first shot, unless a vaccination provider or your doctor
                    tells you not to get it.</p>
               <p>If you receive the viral vector COVID-19 vaccine, Johnson & Johnson’s Janssen (J&J/Janssen)
                    COVID-19 Vaccine, you will only need 1 shot.</p>
               <hr>
               <h1><br>What to expect after getting a COVID-19 vaccine</h1>
               <hr>
               <img class="img-fluid" src="/static/vaccine5.png" align="right" style="width: 200px; height: 140px;"
                    alt="COVID-19 Awareness">
               <ul>
                    <li>You may experience common side effects after getting a COVID-19 vaccine. Get helpful tips
                         on how to reduce any pain or discomfort.</li>
                    <li>It takes time for your body to build protection after any vaccination. You are considered
                         fully vaccinated 2 weeks after your second dose of the Pfizer-BioNtech or Moderna COVID-19
                         vaccines, or 2 weeks after the single-dose J&J/Janssen COVID-19 vaccine. You should keep
                         using all the tools available to protect yourself and others until you are fully vaccinated.
                    </li>
                    <li>After you are fully vaccinated against COVID-19, you may be able to start doing some things
                         that you had stopped doing because of the pandemic. Learn more about what you can do when
                         you have been fully vaccinated.</li>
               </ul>
          </article>
     </div>
</div>
{% endblock %}