{% extends "base.html" %}

{% block body %}
<div class="page-header"> 
    <img class="img-fluid" src="/static/vaccine.jfif" align="right"
                    alt="COVID-19 Awareness">  
        <div class="container">
            <article class="desc" id="main-content">
                
                <h1><br>When Getting Your Vaccine</h1>
                <hr>
                <p>
            
                    
                
                </p>
                <hr>
                <h1><br>What We are Still Learning</h1>
                <hr>
                <p>
                    <ul>

                    </ul>
                <p>
                <hr>  
            </article>
        </div>
</div>
{% endblock %}