{% extends "base.html" %}

{% block body %}
<div class="page-header">
    <div class="container">
        <article class="desc" id="main-content">
            <h1><br>COVID-19 Vaccine Information for Specific Groups</h1>
            <hr>
            <img class="img-fluid" src="/static/vaccine9.png" align="center" style="width: 1300px; height: 80px;"
                alt="COVID-19 Awareness">
            <p>
                Although the vaccine supply is currently limited, CDC is working toward making
                vaccines widely available for everyone at no cost.
            <ul>
                <li>Essential Workers</li>
                <li>Healthcare Personnel</li>
                <li>Long-term Care Facility Residents</li>
                <li>Older Adults</li>
                <li>Teachers, School Staff & Childcare</li>
                <li>Pregnancy or Breastfeeding</li>
                <li>Underlying Medical Conditions</li>
                <li>People with Disabilities</li>
                <li>People with Allergies</li>
                <li>People at High Risk for Severe Illness</li>
            </ul>
            </p>
            <hr>
        </article>
    </div>
</div>
{% endblock %}