{% extends "base.html" %}

{% block body %}
<div class="container">
    <article class="desc" id="main-content">
        <h1><br>Key Things to Know about COVID-19 Vaccines</h1>
        <hr>
        <img class="img-fluid" src="/static/vaccine7.png" align="right" alt="COVID-19 Awareness">
        <p>
        <ul>
            <li>COVID-19 vaccines are safe and effective.</li>
            <li>You may have side effects after vaccination, but these are normal.</li>
            <li>It typically takes two weeks after you are fully vaccinated for the body
                to build protection (immunity) against the virus that causes COVID-19.</li>
            <li>Vaccines will become widely available, in the coming months. Find a COVID-19 vaccine.</li>
            <li>People who have been fully vaccinated can start to do some things that
                they had stopped doing because of the pandemic.</li>
        </ul>
        </p>
        <hr>
        <h1><br>What We are Still Learning</h1>
        <hr>
        <p>
        <ul>
            <li>We are still learning how well vaccines prevent you from spreading
                the virus that causes COVID-19 to others, even if you do not have symptoms.</li>
            <li>We’re also still learning how long COVID-19 vaccines protect people.</li>
            <li>We are still learning how many people have to be vaccinated against COVID-19
                before most people can be considered protected (population immunity).</li>
            <li>We are still learning how effective the vaccines are against new variants of the
                virus that causes COVID-19.</li>
        </ul>
        <p>
            <hr>
    </article>
</div>
{% endblock %}