{% extends "base.html" %}

{% block body %}
<div class="container">
    <form method="POST" action="#">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h1><br>Log In</h1>
            <hr>
            <img class="img-fluid" src="/static/vaccine4.jfif" align="right" alt="COVID-19 Awareness">
            <div class="col-md-8">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <hr>
            <div>
                <p>{{ form.submit(class="btn btn-outline-dark") }}</p>
                <p><a href="#">Forgot Password?</a></p>
                <p>Need An Account? <a class="ml-2" href="{{ url_for('signup') }}">Sign Up Now</a></p>
            </div>
            <hr>
        </fieldset>
    </form>
</div>
{% endblock %}