{% extends "base.html" %}

{% block body %}
<div class="page-header">
    <div class="container">
        <article class="desc" id="main-content">
            <h1><br>Vaccine Safety & Monitoring</h1>
            <hr>
            <img class="img-fluid" src="/static/vaccine11.png" align="right" style="width: 200px; height: 120px;"
                alt="COVID-19 Awareness">
            <p>
                Vaccine Safety and Monitoring
            <ul>
                <li>COVID-19 vaccines are safe and effective. </li>
                <li>Millions of people in the country have received COVID-19 vaccines under
                    the most intense safety monitoring in Indian history.</li>
                <li>We recommend you get a COVID-19 vaccine as soon as you are eligible.</li>
            </ul>
            </p>
            <hr>
        </article>
    </div>
</div>
{% endblock %}